*,*::after, *::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#FECA00;
    --secondary-color:#010101;
    --auxillary-color:#989898;
    --supplementary-color:#ffffff;
    --bar-width:100%;
    --alt-background:url(nathan-waters-j7q-Z9DV3zw-unsplash.jpg) no-repeat center center/cover ;
}
@font-face{
   font-family:'typographica';
   src:url(typogrgahica/TypoGraphica_demo.otf);
}
@font-face {
   font-family: 'montserrat';
   src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

html{
   scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    position: relative;
}
main{
   height: 100vh;
   width: 100%;

}

header div img{
   width:100px;
}
.mobile-nav-toggle, .sr-only{
   display: none;
}

header{
  background: rgb(246, 241, 241);
   margin:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    padding-bottom: 0;
}
nav{
   display: flex;
   justify-content:space-around;
   align-items:center;
}

nav ul{
   flex-direction:row;
   align-items:center;
   justify-content:center;
}
nav li{
   list-style: none;
   display: inline-block;
   margin-inline-end: 1rem;
}

nav li a{
   text-decoration: none;
   text-transform:uppercase;
   color: var(--secondary-color);
   font-size: .8rem;
   font-weight:800;
   font-family: 'montserrat';
   transition:250ms;
}


nav li a:hover{
   scale:1.5;
   color:var(--main-color);
}

.cta{
   padding:.7rem 1rem;
   border: none;
   background: var(--secondary-color);
   border-radius: 30px;
   margin-inline-end: .2rem;
   margin-top:auto;
   margin-bottom:auto;
}
.cta a{
   text-decoration: none;
   color:var(--supplementary-color);
   font-size: .8rem;
   font-family: 'montserrat';
}

#soon{
   position: relative;
   margin-bottom:0;
}
.first-image{
    display:none;
}

#soon p{
    position: absolute;
    color: var(--supplementary-color);
    top:57%;
    left:40%;
    translate: transform(-50%, -50%);
    font-family: 'typographica';
    font-size: 4rem;
    outline: 1px solid var(--supplementary-color);
    outline-offset: 10px;
    border-radius:5px;
    padding: 1rem;
}

footer{
    background: var(--main-color);
    padding-top:1.5rem;
    padding-bottom:1.5rem;
 }
 
 .footer{
    display:flex;
    gap:1rem;
    justify-content:space-around;
    align-items:center;
    font-family:'montserrat';
    padding-bottom:3rem;
    border-bottom:.001rem solid var(--secondary-color);
 }
 
 .footer p{
    padding-bottom:1rem;
    font-size:1.3rem;
 }
 .footer h6{
    line-height:1.5rem;
    font-size:.8rem;
 }
 
 .image-section{
    text-align:center;
    padding-top:1.5rem;
    padding-bottom: 1rem;
    margin-bottom:.6rem;
 }
 .image-section a{
    text-decoration:none;
    color:var(--secondary-color); 
    margin-right:.6rem;
    font-family:'montserrat';
    font-size:.75rem;
    font-weight:600;
 }
 
 .footer-images{
  text-align: center;
 }
 .footer-images img{
    width:15px;
    gap: .6rem;
 }

 .copyright{
   font-family: 'montserrat';
   font-size: .7rem;
   font-weight: 600;
 }


 /* styling for mobile first screen */
 @media screen and (max-width:600px){

    header div img{
       width:50px;
    }
    
    nav{
       position:fixed;
       z-index:1000;
       display:flex;
       flex-direction:column;
       align-items: center;
       justify-content: space-around;
       inset:0 0 0 20%;
       padding:min(30vh, 10rem) 2rem ;
       background:hsl(0 0% 50%/0.2 ) !important;
       backdrop-filter: blur(.7rem);
       color: var(--supplementary-color);
       transform:translateX(100%);
       transition: transform 350ms ease-out;
    }
   
   
    nav li{
       list-style:none;
       padding-bottom: .5rem;
       cursor: pointer;
       padding-top:1rem;
       margin-bottom:0;
       margin-top:1rem;
       margin-left:auto;
       margin-right:auto;
       display: flex;
       flex-direction: column;
    }
   
    nav li a{
       text-decoration:none;
       color:var(--supplementary-color);
       font-size: 1rem;
       font-weight:700;
       font-family: 'montserrat';
       text-transform: uppercase;
       text-align:center;
       padding:5px;
       display:block;
    }
    nav li a:hover{
       scale:none;
       color:var(--supplementary-color);
    }
   
    .sr-only{
       display:none;
   }
    .mobile-nav-toggle{
       position: absolute !important;
       background: url(bars-solid\ \(3\).svg);
       background-repeat: no-repeat;
       background-color: transparent;
       border: none;
       width: 1.2rem;
       aspect-ratio: 1;
       top:1.2rem;
       right:2rem;
       z-index:9999;
       cursor: pointer;
       display: block;
    }
   
    .mobile-nav-toggle[aria-extended='true']{
       background: url(xmark-solid.svg);
    }
    nav.active{
       transform:translateX(0%)
    }
    .cta{
       padding:.7rem 1rem;
       border: none;
       background: var(--secondary-color);
       border-radius: 30px;
       margin-inline-end: .71rem;
    }
    
 
    .hero-section{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-bottom: 1rem;
       text-align: center;
    }

    .first-image{
        display:block;
    }

    .second-image{
        display:none;
    }

    #soon{
        position: relative;
        height: 80vh;
        margin-bottom: 2rem;
     }
     #soon p{
         position: absolute;
         color: var(--supplementary-color);
         background: var(--secondary-color);
         top:60%;
         left:25%;
         translate: transform(-50%, -50%);
         font-family: 'typographica';
         font-size: 2rem;
         outline: 1px solid var(--main-color);
         outline-offset: 10px;
         border-radius:10px;
         padding: 1rem;
     }
    .footer{
        flex-direction:column;
        gap:3rem;
        padding-bottom:6rem;
     }
  
     .footer p{
        font-weight:700;
        text-align:center;
        font-size:1rem;
     }
  
     .footer h6{
        font-weight:500;
        line-height:1.5rem;
        font-size:.6rem;
     }
     .foot2 span{
        display:block;
        text-align:center;
     }
     
   } 